/* ----------------------------

  _____          _   _  _____ _  __      _____  _____ _____ 
 |  __ \   /\   | \ | |/ ____| |/ /     / ____|/ ____/ ____|
 | |  | | /  \  |  \| | (___ | ' /_____| |    | (___| (___  
 | |  | |/ /\ \ | . ` |\___ \|  <______| |     \___ \\___ \ 
 | |__| / ____ \| |\  |____) | . \     | |____ ____) |___) |
 |_____/_/    \_\_| \_|_____/|_|\_\     \_____|_____/_____/

CSS BOX For KBP Microsite II
Author: Ayo Media Network

-------------------------------*/

/* media area */
@media all and (max-width: 1000px) {
.carousel-container #carousel-thumbs img {
border-width: 3px;
}
}
@media all and (min-width: 576px) {
.carousel-container #carousel-thumbs {
position: absolute;
}
}
@media all and (max-width: 576px) {
.carousel-container #carousel-thumbs {
background: #ccccce;
}
}
body{
  font-family: 'Montserrat', sans-serif;
}

/*font area */
.kotbar-font{
  color: #0C79BF;
  font-weight: bold;
  text-transform: uppercase;
}

/*button callme */
.callme{
  width: 350px;
  height: 80px; 
  font-size: 20px; 
  background-color: #007AC3;
}
.callme:hover{
  background-color: #88B447;
}
.putih{
  text-decoration: none;
}.putih:hover{
  text-decoration: none;
}

/*nav area */
.menu-sticky {
  z-index: 999;    
  height: 150px;
}

/*footer area */

.bg-footer-kbp{
  background-color: #038A7C;
}

.footer-medsos
{
  color: #fff;
}
.footer-medsos:hover
{
  color: #88B447;
  text-decoration: none;
}

#prevyes {
  display: inline-block;
  background-color: #0C79BF;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 20%;
  left: 10px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-size: 10px;
}
#prevyes::after {
  content: "";
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #fff;
}
#prevyes:hover {
  cursor: pointer;
  background-color: #038A7C;
}
#prevyes:active {
  background-color: #555;
}
#prevyes.show {
  opacity: 1;
  visibility: visible;
}
/* to top */
#nextyes {
  display: inline-block;
  background-color: #0C79BF;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 20%;
  right: 10px;
  transition: background-color .3s, 
  opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-size: 10px;
}
#nextyes::after {
  content: "";
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #fff;
}
#nextyes:hover {
  cursor: pointer;
  background-color: #038A7C;
}
#nextyes:active {
  background-color: #555;
}
#nextyes.show {
  opacity: 1;
  visibility: visible;
}
.carousel-indicators li{
   background-color: #038A7C !important;
 }

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 720px;
  background: url("https://res.cloudinary.com/dansprogramming/image/upload/v1604894052/KBP_SIMAKANCANA/IMG/Simakancana.jpg") center center;
  background-size: cover;
  position: relative;
  padding: 0;
}
#hero:before {
  content: "";
  background: rgba(56, 64, 70, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero .container {
  z-index: 2;
}
#hero h1 {
  margin: 0 0 10px 0;
  font-size: 40px;
  line-height: 56px;
  color: #fff;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
  margin-top: 15%;
}
#hero .minilogo
{
  width: 50px;
  height: 50px;
}
#hero h1 span {
  border-bottom: 4px solid #3498db;
}
#hero h2.mt-min20{
  margin-top: -20px;
}
#hero h2 {
  color: rgba(255, 255, 255);
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}
#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  color: #fff;
  background: #3498db;
  text-transform: uppercase;
}
#hero .btn-get-started:hover {
  background: #4ea5e0;
}
@media (max-width: 992px) {
  #hero {
    height: 980px;
  }
}
@media (max-width: 768px) {
  #hero h1 {
    font-size: 30px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
.special-card {
  background-color: transparent;
  border: none;
}

/*--------------------------------------------------------------
# Hero 2 Section
--------------------------------------------------------------*/
#hero-feature {
  width: 100%;
  height: 360px;
  background: url("https://res.cloudinary.com/dansprogramming/image/upload/v1605067004/KBP_SIMAKANCANA/IMG/Background.jpg") center;  
  background-size: cover;
  position: relative;
  margin-top: 160px;
  padding: 0;
}
#hero-feature:before {
  content: "";
  background: rgba(3, 138, 124, 0.8);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
#hero-feature .container {
  z-index: 2;
}
#hero-feature h3 {
  margin: 0 0 10px 0;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
  font-size: 24px;
}
#hero-feature h3 span {
  border-bottom: 4px solid #3498db;
}
#hero-feature .btn-get-started {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 2px;
  display: inline-block;
  padding: 12px 28px;
  border-radius: 4px;
  transition: ease-in-out 0.3s;
  color: #fff;
  background: #3498db;
  text-transform: uppercase;
}
#hero-feature .btn-get-started:hover {
  background: #4ea5e0;
}
@media screen and (max-width: 500px) {
  #hero-feature h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  .img-terbang{
   position:absolute;
    left:-5px;
    top:-15px;
    z-index:-1;
    width: 30px;
    height: 30px;
    opacity: .4;
  }
}
@media (max-width: 992px) {
  #hero-feature {
    height: 850px;
  }
}
@media (max-width: 768px) {
  #hero-feature h3 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}
.special-card-feature {
  background-color: transparent;
  border: none;
}

/* ============== overlay image galeri ================== */
.image-container {
    position: relative;
    width: 100%;
    height: 300px;
}
.image-container .after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 130%;
    display: none;
    color: #FFF;
    text-align: center;

    display: block;
    background: rgba(255, 255, 255, .7);
    clip-path: polygon(50% 15%, 100% 20%, 100% 0, 0 0, 0 20%);
}
/*.image-container:hover .after {
    display: block;
    background: rgba(255, 255, 255, .7);
    clip-path: polygon(50% 15%, 100% 25%, 100% 0, 0 0, 0 25%);
}*/
span.txt-overlay{
  margin-top: 5px;
  text-transform: uppercase;
  padding: 5px;
  color: #000;
  font-family: 'Oswald', sans-serif;
}
.img-terbang{
   position:absolute;
    left:-5px;
    top:-10px;
    z-index:-1;
    width: 50px;
    height: 50px;
    opacity: .4;
}

/* ============= modal galeri ===================== */
.transition {  
    /*-webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);*/
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
    margin-bottom:20px;
}   
img.zoom {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
.modal-header {   
  border-bottom: none;
}
.modal-title {
    color:#000;
}
.modal-footer{
  display:none;  
}

/* =============== tombol feature ================= */
.tombolku
{
  border-radius: 15px;
  background-color: #fff;
}
.tombolku:hover
{
  -webkit-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 6px 2px rgba(0,0,0,0.75);
}

/* ================ box formulir ==================== */
.kotak-biru{
  background-color: #0C79BF;
  padding: 20px;
}
.button-green{
  background-color: #69eadb;
  width: 100%;
  color: #0C79BF;
}

/* ============== tombol download ================== */
.dot {
    background: #038A7C;
    color: #FFF;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    font: normal normal normal 25px/1 FontAwesome;
    font-size: 25px;
    font-size: inherit;
    text-rendering: auto;
    content: "\f019";
}
.dot:hover {
    background: #038A7C;
    color: #FFF;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    font: normal normal normal 25px/1 FontAwesome;
    font-size: 25px;
    font-size: inherit;
    text-rendering: auto;
    content: "\f019";      
    transform: scale(1.1);
}

/* ==========================================================================
Chrome Frame prompt
========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0C79BF; /* warna spinner 1 */
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #06B0AC; /* warna spinner 2 */

  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0C79BF; /* warna spinner 3 */

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);  /* IE 9 */
  transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);  /* IE 9 */
  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;  
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);  /* IE 9 */
  transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;  
  transition: all 0.3s 1s ease-out;
}

.bg-eco-feature{
  background-color: #fff;
  padding: 3px;
  border: 3px solid #296568;
}