/* ----------------------------

  _____          _   _  _____ _  __      _____  _____ _____ 
 |  __ \   /\   | \ | |/ ____| |/ /     / ____|/ ____/ ____|
 | |  | | /  \  |  \| | (___ | ' /_____| |    | (___| (___  
 | |  | |/ /\ \ | . ` |\___ \|  <______| |     \___ \\___ \ 
 | |__| / ____ \| |\  |____) | . \     | |____ ____) |___) |
 |_____/_/    \_\_| \_|_____/|_|\_\     \_____|_____/_____/
 
CSS BOX For KBP Microsite II
Author: Ayo Media Network

-------------------------------*/

/* media area */
@media all and (max-width: 1000px) {
.carousel-container #carousel-thumbs img {
border-width: 3px;
}
}
@media all and (min-width: 576px) {
.carousel-container #carousel-thumbs {
position: absolute;
}
}
@media all and (max-width: 576px) {
.carousel-container #carousel-thumbs {
background: #ccccce;
}
}

body{
  font-family: 'Montserrat', sans-serif !important;
}

/*font area */
.kotbar-font{
  color: #0C79BF;
  font-weight: bold;
  text-transform: uppercase;
}

/*carousel area */
.carousel-thumbnails .carousel-indicators img {
  max-width: 300px;
  height: 180px;
  overflow: hidden;
  display: block;
}
.carousel-thumbnails .carousel-indicators li {
  height: auto;
  max-width: 100%;
  width: 250px;
  border: none;
  box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.75);
  &.active {
    border-bottom: 4px solid #fff;
  }
}
.carousel {
  position: relative;
}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}

/*nav area */
.menu-sticky {   
  z-index: 999;
  height: 150px;
}

/*footer area */

.bg-footer-kbp{
  background-color: #038A7C;
}

.footer-medsos
{
  color: #fff;
}
.footer-medsos:hover
{
  color: #88B447;
  text-decoration: none;
}

.back-one {
    background-color: #fff;
    padding-top: 76px;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
}
.back-two {
    background-color: #f7f7f7;
}
.text-box {
    position: absolute;
    color: #fff;
    margin-left: 30%;
    border-radius: 10px;
    margin-top: 20px;
    font-size: 25px;
    font-weight: bold;
}
.prod-one {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.title-two {
    text-align: center;
    padding: 0;
    margin-right: 10%;
    margin-left: 10%;
    margin-bottom: 25px;
    color: #666;
    font-weight: 600;
    font-size: 22px;
}
.title-one {
    margin-bottom: 10px;
    text-align: center;
    margin-top: -10px;
    color: #fff;
}
.title-three {
    background-color: #0C79BD;
    text-align: center;
    /* padding: 147px; */
    margin-right: auto;
    margin-left: auto;
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    width: 100%;
    height: 336px;
    padding-top: 150px;
    position: relative;
}

.launching {
    text-align: center;
    padding: 0;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 25px;
    color: #000;
    margin-top: 25px;
    font-size: 30px;
}

.hr-launching {
    border: 1px solid #000;
    width: 10%;
}

.launching-download {
    text-align: center;
    padding: 0;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 25px;
    color: #000;
    margin-top: 25px;
    font-size: 15px;
}

.downloads {
    text-align: center;
    padding: 0;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 25px;
    color: #000;
    margin-top: -10px;
    font-size: 20px;
}

.button-icon-download {
    background: #13a89e;
    color: #FFF;
    padding: 20px;
    border-radius: 50px;
    font-size: 30px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    content: "\f019";
}
.button-icon-download:hover {
    background: #0C79BD;
    color: #FFF;
    padding: 20px;
    border-radius: 50px;
    font-size: 30px;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 14px;
    font-size: inherit;
    text-rendering: auto;
    content: "\f019";      
    transform: scale(1.1);
}

.title-download {
    margin-top: 5px;
}

.square {
    position: relative;
    width: 100%;
    background-color: #0C79BD;
}

.title-bisnis {
    padding: 20px 0px 10px 0px;
    font-size: 28px;
}

.desc-bisnis {
    font-size: 18px;
    padding: 0px 0px 30px 0px;
    line-height: 25px;
}

.hr-maps {
    border: 1px solid #000;
}

.title-maps {
    color: #616264;
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
    /* font-size: 28px; */
}

.square:after {
    content: "";
    display: block;
    padding-bottom: 53%;
}

.square-three {
    position: relative;
    width: 120%;
    background-color: #0C79BD;
}

.square-three:after {
    content: "";
    display: block;
    padding-bottom: 19.5%;
}

.square-two {
    position: relative;
    width: 100%;
    background-color: #0C79BD;
    height: 550px;
}

.square-two:after {
    content: "";
    display: block;
    padding-bottom: 70%;
    height: auto;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 24%;
}

.content-two {
    position: absolute;
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
}

.title-four {
    text-align: center;
    padding: 0;
    margin-right: 5%;
    margin-left: 5%;
    margin-bottom: 25px;
    color: #666;
    font-weight: 600;
    margin-top: 25px;
    font-size: 22px;
}

.spasi-title-four {
    margin-bottom: 15px;
}

.hubungi-kami {
    color: #0C79BD;
    background-color: #DBE7AA;
    margin: 15px;
    border-radius: 10px;
    font-weight: bold;
    padding: 10px 25px;
    display: inline-block;
    font-size: 20px;
}

.hubungi-kami-two {
    color: #FFF;
    background-color: #D63030;
    margin: 15px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: -30px;
    padding: 10px 50px;
    display: inline-block;
    font-size: 20px;
}

.hubungi-kami-three {
    color: #FFF;
    background-color: #D63030;
    margin: 15px;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 30px;
    padding: 10px 50px;
    display: inline-block;
    font-size: 20px;
}

.notifikasi {
    color: #FFF;
    background-color: #13a89e;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    border-radius: 5px;
}
.notifikasi:hover {
    color: #FFF;
    display: inline-block;
    font-size: 20px;
    width: 100%;
    transform: scale(1.01);
}

.line {
    border: 10px solid #0C79BD;
    margin-top: 30px;
    margin-bottom: 10px;
}

.box-produk {
    position: absolute;
    background-color: #DBE7AA;
    color: #0C79BD;
    font-size: 14px;
    width: 35%;
    text-align: center;
    margin-left: 30%;
    border-radius: 10px;
    margin-top: 45px;
    font-weight: 600;
    border: 1px solid #fff;
    opacity: 0.9;
}

.pt a {
    position: absolute;
    background-color: none;
    color: transparent;
    font-size: 14px;
    width: 35%;
    text-align: center;
    margin-left: 30%;
    border-radius: 10px;
    margin-top: 45px;
    font-weight: 600;
    opacity: 0.9;
}

.pt a:hover {
    position: absolute;
    background-color: #DBE7AA;
    color: #0C79BD;
    font-size: 22px;
    width: 35%;
    text-align: center;
    margin-left: 30%;
    border-radius: 10px;
    margin-top: 50px;
    font-weight: 600;
    border: 1px solid #fff;
    opacity: 0.9;
    text-decoration: none;
}


/* E:CSS KBP */

img {
    max-width: 100%;
    height: auto;
}

a {
    outline: 0 !important;
}
/* -- Contact Details */

.contact-details,
.contact-details .detail-box {
    position: relative;
}

.contact-details {
    width: 100%;
    display: inline-block;
    margin-bottom: 90px;
    text-align: center;
    border-top: 1px solid #292929;
}

.contact-details .detail-box {
    padding: 50px 80px 48px 80px;
    background-color: #373737;
}

.contact-details .detail-box,
.contact-details .detail-box a {
    color: #777;
    text-decoration: none;
}

.contact-details .detail-box h4 {
    font-size: 18px;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #be9e6a;
    font-family: 'Montserrat', sans-serif;
}

.contact-details .detail-box p {
    font-size: 16px;
    margin-bottom: 0;
    line-height: 20px;
    color: #777;
}

.contact-details .detail-box.phone-box {
    background-color: #474747;
}

.contact-details .detail-box.mail-box {
    background-color: #373737;
}
a.dwnl-btn{
    color: #fff;
    text-decoration: none;
}
a.dwnl-btn:hover{
    color: #fff;
    text-decoration: none;  
}

/* form control */
.input-font{
    font-size: 16px;
    font-weight: normal;
}
input[type="text"]
{
    font-size:16px;
    background-color: rgb(232, 232, 232);
}

/* masthead */
.tip{
    margin-top: 15px;
}
.kotbar{
    color: #3992CB;
    font-weight: 500;
    text-transform: uppercase;
}

.thumb2
{
    width: 350px;
    height: 270px;
    border: 1px solid #038A7C;
    margin: 0px 20px;
}
.arrow-left {
  width: 50px; 
  height: 50px; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;   
  border-right:50px solid #038A7C;
  margin-top: 25%; 
  margin-left: 50%
}
.arrow-right {
  width: 50px; 
  height: 50px; 
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;  
  border-left: 50px solid #038A7C;
  margin-top: 25%; 
  margin-left: 40%
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}

/* to top */
#mybutton {
  display: inline-block;
  background-color: #0C79BF;
  width: 100px;
  height: 30px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 20%;
  right: 10px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  font-size: 10px;
}
#mybutton::after {
  content: "";
  font-weight: normal;
  font-style: normal;
  line-height: 30px;
  color: #fff;
}
#mybutton:hover {
  cursor: pointer;
  background-color: #038A7C;
}
#mybutton:active {
  background-color: #555;
}
#mybutton.show {
  opacity: 1;
  visibility: visible;
}

/* ==========================================================================
Chrome Frame prompt
========================================================================== */

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Author's custom styles
========================================================================== */

#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0C79BF; /* warna spinner 1 */
  -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001;
}
#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #06B0AC; /* warna spinner 2 */

  -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #0C79BF; /* warna spinner 3 */

  -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
@keyframes spin {
  0%   { 
    -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);  /* IE 9 */
    transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
  }
  100% {
    -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);  /* IE 9 */
    transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
  }
}
#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #fff;
  z-index: 1000;
  -webkit-transform: translateX(0);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);  /* IE 9 */
  transform: translateX(0);  /* Firefox 16+, IE 10+, Opera */
}
#loader-wrapper .loader-section.section-left {
  left: 0;
}
#loader-wrapper .loader-section.section-right {
  right: 0;
}
/* Loaded */
.loaded #loader-wrapper .loader-section.section-left {
  -webkit-transform: translateX(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(-100%);  /* IE 9 */
  transform: translateX(-100%);  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
  -webkit-transform: translateX(100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(100%);  /* IE 9 */
  transform: translateX(100%);  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
  transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;  
  transition: all 0.3s ease-out;
}
.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);  /* IE 9 */
  transform: translateY(-100%);  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;  
  transition: all 0.3s 1s ease-out;
}